{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">
  Where Not To Eat
  <br>
  <small>Better to be safe than sorry</small>
</h1>
<button type="button" class="btn btn-primary btn-lg btn-block">
  Scan for data
</button>
<script>
var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};

function success(pos) {
  var crd = pos.coords;

  console.log('Your current position is:');
  console.log('Latitude : ' + crd.latitude);
  console.log('Longitude: ' + crd.longitude);
  console.log('More or less ' + crd.accuracy + ' meters.');
};

function error(err) {
  console.warn('ERROR(' + err.code + '): ' + err.message);
};

navigator.geolocation.getCurrentPosition(success, error, options);
</script>
{% endblock %}
